<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.yanweijia.eyes">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name = "android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name = "android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name = "android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">


        <activity
            android:name="cn.yanweijia.eyes.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_SeMang"
            android:label="色盲测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_SeMang_ceshi"
            android:label="色盲测试">
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_SeMang_result"
            android:label="色盲测试结果" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi"
            android:label="近视测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi_ceshi_tips"
            android:label="近视测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi_ceshi_wuyan_zuo"
            android:label="近视测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi_ceshi_wuyan_you"
            android:label="近视测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi_ceshi_you"
            android:label="近视测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi_ceshi_zuo"
            android:label="近视测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_sanguang_ceshi"
            android:label="散光测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_shezhi"
            android:label="软件设置" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_about"
            android:label="关于护眼小助手" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_yejian"
            android:label="夜间模式" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi_result"
            android:label="近视测试结果" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_baojiantu"
            android:label="眼睛保健图" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_testrecord"
            android:label="测试记录">
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_testrecord_shili"
            android:label="视力测试记录">
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_testrecord_semang"
            android:label="色盲测试记录">
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_advice"
            android:label="建议反馈">
        </activity>

    </application>

</manifest>
