<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.yanweijia.eyes">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name = "android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name = "android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name = "android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE"/>


    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!--下面是芒果广告必须-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--以下是安沃广告额外需要-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">

        <!--百度统计-->
        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="5ecd49d051" />
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="wandoujia" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="true" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />


        <!-- 声明Mogo的Activity -->
        <activity
            android:name="com.adsmogo.adview.AdsMogoWebView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        <!-- 注册Service，自主广告与交换广告的应用下载功能所需 -->
        <service android:name="com.adsmogo.controller.service.UpdateService"
            android:exported="true"
            android:process=":remote" />
        <!-- 注册Service，安装应用所用 -->
        <service android:name="com.adsmogo.controller.service.CountService"
            android:exported="true"
            android:process=":remote" />

        <!--百度Activity-->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />



        <!--广告Activity声明结束-->




        <activity
            android:name="cn.yanweijia.eyes.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_SeMang"
            android:label="色盲测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_SeMang_ceshi"
            android:label="色盲测试">
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_SeMang_result"
            android:label="色盲测试结果" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi"
            android:label="近视测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi_ceshi_tips"
            android:label="近视测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi_ceshi_wuyan_zuo"
            android:label="近视测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi_ceshi_wuyan_you"
            android:label="近视测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi_ceshi_you"
            android:label="近视测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi_ceshi_zuo"
            android:label="近视测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_sanguang_ceshi"
            android:label="散光测试" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_shezhi"
            android:label="软件设置" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_about"
            android:label="关于护眼小助手" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_yejian"
            android:label="夜间模式" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_jinshi_result"
            android:label="近视测试结果" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_baojiantu"
            android:label="眼睛保健图" >
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_testrecord"
            android:label="测试记录">
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_testrecord_shili"
            android:label="视力测试记录">
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_testrecord_semang"
            android:label="色盲测试记录">
        </activity>
        <activity
            android:name="cn.yanweijia.eyes.Activity_advice"
            android:label="建议反馈">
        </activity>

    </application>

</manifest>
